body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        
        .layout {
            display: grid;
            grid-template-rows: 60px 50px 1fr auto auto;
            grid-template-columns: 200px 1fr;
            min-height: 100vh;
        }

       
        header {
            grid-column: 1 / 3;
            background-color: purple;
            padding: 9px;
            font-size: 22px;
            text-align: center;
        }

       
        nav {
            grid-column: 1 / 3;
            background-color: rgb(225, 97, 97);
            padding: 2px;
        }

        nav span {
            margin-right: 20px;
        }

        
        aside {
            background-color: red;
            padding: 15px;
        }

        aside ul {
            list-style: none;
            padding: 0;
        }

        aside li {
            margin: 10px 0;
        }

        
        main {
            padding: 20px;
        }

       
        .form-section {
            grid-column: 1 / 3;
            background-color: blue;
            padding: 20px;
        }

        .form-section input,
        .form-section textarea {
            width: 100%;
            margin: 8px 0;
            padding: 8px;
        }

        
        footer {
            grid-column: 1 / 3;
            background-color:red;
            text-align: center;
            padding: 10px;
        }