p{
    color: gold;
    background-color: crimson;
    text-align: center;
    font-size:41px;
    padding: 10px;
    width: 344px;
    height: 70px;
    border: 67px;
}
    
    
jk{
    color: rgb(133, 67, 239);
    background-color:burlywood;
    text-align: center;
    height:0px ;
    width:99px;
    padding: 5PX;
    margin: 50px;
    display: inline-block;

}
img{
    padding-left: 500px;
}